#slider-container {
  display: flex;
  flex-flow: row wrap;
}

.slider-block {
  flex-basis: 33%;
  text-align: center;
  cursor: pointer;
}

.slider-block_zero {
  background-color: white;
  z-index: -1; /* Prevent the empty block from going over non-empty ones during animation */
}
